.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 52px;
}

.header-logo {
  display: flex;
  width: 148px;
  height: 105px;
}
.header-nav-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  text-decoration: none;
}

.header-item {
  list-style: none;
}

.header-link {
  font-family: "Raleway", sans-serif;
  display: flex;
  font-size: 18px;
  list-style: none;
  font-style: normal;
  text-decoration: underline;
}

.header-link-active {
  text-decoration: none;
  list-style: none;
}

.header-address {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  list-style: none;
}

.cover {
  position: relative;
  min-height: 759px;
  width: 1100px;
  background-size: cover;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  padding: 165px 50px 0 50px;
  box-sizing: border-box;
}

.cover_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-title {
  position: relative;
  width: 1000px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 30%;
  font-size: 50px;
  z-index: 3;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
  padding-top: 80px;
  margin-bottom: 50px;
}

.cover_description-text {
  position: relative;
  z-index: 4;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 19px;
}

.span_start {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  margin-bottom: 26px;
  letter-spacing: 30px;
}

.span_center {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 20px;
  letter-spacing: 30px;
}

.span_end {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 20px;
  letter-spacing: 20px;
  padding-left: 6px;
}

.b_button {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  background: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 11px 31px;
  margin-top: 4px;
}

.lots {
  width: 1052px;
  opacity: 1;
}

.lots_title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 65px;
  margin-top: 5px;
  padding-top: 180px;
  padding-right: 915px;
  padding-bottom: 27px;
  opacity: 1;
  line-height: 100%;
}

.lots-card-list {
  list-style: none;
  display: flex;
  width: 334px;
}

.lots_title {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 65px;
  margin-top: 5px;
  padding-top: 180px;
  padding-right: 915px;
  padding-bottom: 27px;
  opacity: 1;
  line-height: 100%;
}

.lots-card-list {
  list-style: none;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
  justify-items: start;
}

.lots-card-list-item {
  min-width: 334px;
  list-style: none;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card-type-film {
  background-image: url(/images/card-lot-01.jpg);
  width: 334px;
  height: 596px;
  position: relative;
  margin-left: 22px;
  margin-top: 6px;
  background-position: center;
  background-size: cover;
  filter: brightness(90%);
  padding-bottom: 48px;
  box-sizing: border-box;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  position: relative;
  width: 334px;
  height: 596px;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-left: 23px;
  filter: brightness(90%);
  padding-bottom: 48px;
  box-sizing: border-box;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  position: relative;
  width: 334px;
  height: 596px;
  background-position: center;
  background-size: cover;
  margin-left: 25px;
  margin-top: 9px;
  filter: brightness(90%);
  box-sizing: border-box;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card-title {
  position: relative;
  font-family: "Raleway", serif, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #ffffff;
  z-index: 3;
  padding: 48px 40px 0;
}

.card-text {
  position: relative;
  display: block;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  z-index: 4;
  flex: 1;
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 48px;
  box-sizing: border-box;
}

.card-text--top-274 {
  padding-top: 274px;
}

/* Отступ сверху 30 px для второго элемента */
.card-text--top-30 {
  padding-top: 30px;
}

/* Отступ сверху 126 px для третьего элемента */
.card-text--top-126 {
  padding-top: 126px;
}

.look-more-link {
  display: block;
  font-family: "Raleway", serif, sans-serif;
  font-weight: 400;
  font-style: "Regular";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 30px 120px 2px 40px;
  margin-top: 10px;
  margin-left: 23px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 35px;
  gap: 25px;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 7px;
}

.about-column {
  padding: 133px 0 13px;
  width: 693px;
  margin-left: 45px;
  margin-right: 10px;
}

.about-logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 45px;
  margin-top: 30px;
}
.about-logo-image {
  width: 61%;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 100px;
  margin-right: 40px;
}

.about-text {
  font-size: 20px;
  word-break: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-self: start;
  align-self: start;
  font-size: 18px;
  padding-top: 170px;
  font-style: "Raleway";
}
.hreff {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-menu {
  width: 163.9px;
  line-height: 22px;
  text-align: center;
  text-underline-offset: 4px;
  margin-bottom: 15px;
  list-style: none;
  font-weight: 400;
  white-space: nowrap;
}

.footer-address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  margin-left: 50px;
  padding-right: 154px;
  line-height: 24.3px;
}

.spann {
  margin-bottom: 3px;
  margin-left: 2px;
}

.address-item {
  font-family: "Raleway", serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.logoo {
  display: flex;
  margin-left: 177.5px;
  margin-right: 50px;
  margin-bottom: 131px;
  gap: 48px;
  list-style: none;
}

.logo-pin {
  width: 48px;
  height: 48px;
}
